<%= form_for([@product, @test_case, @result]) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :result %><br />
    <%= f.select(:result, Result::RESULTS) %>
  </div>
  <div class="field">
    <%= f.label :tester, "Your Name" %><br />
    <%= f.text_field :tester %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
