<p id="notice"><%= notice %></p>

<table class="test-case-info">
  <tr>
    <td><b>Result:</b></td><td class="<%= @result.result.downcase %>"><%= @result.result %></td>
    <td><b>Your Name:</b></td><td><%= @result.tester %></td>
    <td><b>Date:</b></td><td><%= l @result.created_at, :format => :short_datetime %></td>
  </tr>
</table>

<div class="container">
  <p><b>Comment</b></p>
  <p><%= @result.comment.empty? ? 'No comment' : @result.comment %></p>
</div>

<div class="bottom-nav">
  <%= link_to '« Back', product_test_case_path(@product, @test_case) %>
</div>
